CompileFlags:
  Add:
    - "-isystem"
    - "/usr/include/c++/9"
    - "-isystem"
    - "/usr/include/x86_64-linux-gnu/c++/9"
    - "-isystem"
    - "/usr/include/c++/9/backward"
    - "-isystem"
    - "/usr/lib/gcc/x86_64-linux-gnu/9/include"
    - "-msse"
    - "-msse2"
    - "-Wno-unknown-warning-option"  # Suppress unknown warning options (e.g., SIMD-related)
    - "-Wno-deprecated-declarations"  # If the warning relates to deprecated functions
    - "-Wno-unused-parameter"         # Suppress warnings about unused parameters (if relevant)
    - "-Wno-unknown-pragmas"          # Suppress pragma-related warnings (if applicable)
    - "-Wno-inconsistent-missing-override"  # Suppress override warnings

