CompileFlags:
  Add:
    - "-isystem"
    - "/usr/include/c++/9"
    - "-isystem"
    - "/usr/include/x86_64-linux-gnu/c++/9"
    - "-isystem"
    - "/usr/include/c++/9/backward"
    - "-isystem"
    - "/usr/lib/gcc/x86_64-linux-gnu/9/include"
