<launch>
  <arg name="sign" default="true"/>
  <arg name="ekf" default="false"/>
  <arg name="lane" default="true"/>
  <arg name="do_parking" default="true"/>
  <arg name="name" default="car1"/>
  <arg name="v" default="35"/>
  <arg name="vref" default="0.$(arg v)"/>
  <arg name="steer_offset" default="0"/>
  <param name="steer_offset" value="$(arg steer_offset)"/>
  <arg name="steer_offset_min" default="2"/>
  <param name="steer_offset_minimum" value="$(arg steer_offset_min)"/>
  <arg name="steer_offset_max" default="9"/>
  <param name="steer_offset_maximum" value="$(arg steer_offset_max)"/>
  <arg name="speed_offset" default="0"/>
  <param name="speed_offset" value="$(arg speed_offset)"/>
  <arg name="use_encoder" default="true"/>
  <param name="use_encoder" value="$(arg use_encoder)"/>
  <!-- run -->
  <arg name="x0" default="3.83"/>
  <arg name="y0" default="0.376"/>
  <arg name="yaw0" default="3.14159"/>
  <arg name="path" default="run189"/>
  <param name="/path" value="$(arg path)"/>
  <param name="x0" value="$(arg x0)"/>
  <param name="y0" value="$(arg y0)"/>
  <param name="yaw0" value="$(arg yaw0)"/>
  <arg name="test" default="0"/>
  <param name="/test" value="$(arg test)"/>
  <arg name="real" default="false"/>
  <param name="/is_real" value="$(arg real)"/>
  <arg name="subModel" default="false"/>
  <arg name="rate" default="300"/>
  <param name="vrefInt" value="$(arg v)"/>
  <arg name="dashboard" default="true"/>
  <param name="dashboard" value="$(arg dashboard)"/>
  <arg name="realsense_imu" default="false"/>
  <param name="realsense_imu" value="$(arg realsense_imu)"/>
  <arg name="kb" default="false"/>
  <param name="kb" value="$(arg kb)"/>
  <arg name="hw" default="1.33"/>
  <param name="hw" value="$(arg hw)"/>
  <arg name="gps" default="false"/>
  <param name="gps" value="$(arg gps)"/>
  <arg name="use_gps" default="true"/>
  <param name="use_gps" value="$(arg use_gps)"/>
  <arg name="gps_id" default="1"/>
  <param name="gps_id" value="$(arg gps_id)"/>
  <arg name="gps_points" default="25"/>
  <param name="gps_points" value="$(arg gps_points)"/>
  <arg name="pub_wpts" default="true"/>
  <param name="pub_wpts" value="$(arg pub_wpts)"/>
  <arg name="debug_level" default="2"/>
  <param name="debug_level" value="$(arg debug_level)"/>
  <arg name="sign_debug" default="false"/>
  <arg name="emergency" default="true"/>
  <param name="emergency" value="$(arg emergency)"/>
  <arg name="use_tcp" default="true"/>
  <param name="use_tcp" value="$(arg use_tcp)"/>
  <arg name="ip" default="127.0.0.1"/>
  <param name="ip" value="$(arg ip)"/>
  <arg name="use_traffic_server" default="false"/>
  <param name="use_traffic_server" value="$(arg use_traffic_server)"/>
  <arg name="traffic_server_ip" default="192.168.50.2"/>
  <param name="traffic_server_ip" value="$(arg traffic_server_ip)"/>
  <arg name="use_beta" default="true"/>
  <param name="use_beta" value="$(arg use_beta)"/>
  <arg name="camera" default="true"/>
  <param name="camera" value="$(arg camera)"/>
  <arg name="async" default="true"/>
  <param name="async" value="$(arg async)"/>
  <rosparam command="load" file="$(find planning)/scripts/config/mpc_config$(arg v).yaml"/>
  <rosparam command="load" file="$(find control)/config/tunable_params.yaml"/>
  <rosparam command="load" file="$(find planning)/scripts/config/mpc_config_park.yaml"/>
  <!-- cameraNode params -->
  <rosparam command="load" file="$(find perception)/config/sign_params.yaml"/>
  <rosparam command="load" file="$(find perception)/config/lane_params.yaml"/>
  <arg name="show" default="false"/>
  <arg name="print" default="false"/>
  <arg name="print_duration" default="false"/>
  <arg name="depth" default="true"/>
  <param name="/is_real" value="$(arg real)"/>
  <arg name="pub" default="true"/>
  <arg name="ncnn" default="false"/>
  <arg name="use_yolov11" default="true"/>
  <arg name="realsense" default="false"/>
  <arg name="camera_rate" default="50"/>
  <arg name="lane_rate" default="30"/>
  <arg name="sign_rate" default="30"/>
  <arg name="pubImage" default="true"/>
  <arg name="thread" default="true"/>
  <arg name="quality" default="30"/>
  <param name="quality" value="$(arg quality)"/>
  <arg name="show_lane" default="false"/>
  <param name="show_lane" value="$(arg show_lane)"/>
  <arg name="debug_lane" default="false"/>
  <param name="debug_lane" value="$(arg debug_lane)"/>
  <arg name="flip" default="true"/>
  <arg name="send_depth" default="false"/>
  <arg name="ground_dist" default="false"/>
  
  <arg name="debug" default="gdb -ex run --args"/>
  <!-- <node pkg="control" type="path2.py" name="path_planner" output="screen"></node>  -->
  <node pkg="control" type="controller" name="$(anon mpc_controller)" output="screen" launch-prefix="$(arg debug)">
    <param name="sign" value="$(arg sign)"/>
    <param name="ekf" value="$(arg ekf)"/>
    <param name="lane" value="$(arg lane)"/>
    <param name="do_parking" value="$(arg do_parking)"/>
    <param name="name" value="$(arg name)"/>
    <param name="/robot_name" value="$(arg name)"/>
    <param name="vref" value="$(arg vref)"/>
    <param name="x0" value="$(arg x0)"/>
    <param name="y0" value="$(arg y0)"/>
    <param name="yaw0" value="$(arg yaw0)"/>
    <param name="real" value="$(arg real)"/>
    <param name="subModel" value="$(arg subModel)"/>
    <param name="rate" value="$(arg rate)"/>
    <param name="sign_debug" value="$(arg sign_debug)"/>
    <!-- cameraNode params -->
    <param name="/use_emergency" value="$(arg emergency)"/>
    <param name="/showFlag" value="$(arg show)"/>
    <param name="/printFlag" value="$(arg print)"/>
    <param name="/printDuration" value="$(arg print_duration)"/>
    <param name="/hasDepthImage" value="$(arg depth)"/>
    <param name="/pub" value="$(arg pub)"/>
    <param name="/ncnn" value="$(arg ncnn)"/>
    <param name="/use_yolov11" value="$(arg use_yolov11)"/>
    <param name="/realsense" value="$(arg realsense)"/>
    <param name="/camera_rate" value="$(arg camera_rate)"/>
    <!-- publish camera image if realsense enabled -->
    <param name="/pubImage" value="$(arg pubImage)"/>
    <param name="/thread" value="$(arg thread)"/>
    <param name="/lane_rate" value="$(arg lane_rate)"/>
    <param name="/sign_rate" value="$(arg sign_rate)"/>
    <param name="flip" value="$(arg flip)"/>
    <param name="send_depth" value="$(arg send_depth)"/>
    <param name="ground_dist" value="$(arg ground_dist)"/>
  </node>
</launch>
